html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

.card-text {
  font-size: 0.95rem;
  height: 5.5rem;
  line-height: 1.4rem;
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}